
<div class="row spacer ">
  <div class="col-1"></div>
  <div class="col-md-10" style="max-height: 82vh">
    <div class="" >
      <form *ngIf="documents">
        <div class="form-group form-inline">
          Chercher: <input class="form-control ml-2" type="text"/>
        </div>
      </form>


      <table class="table table-bordered table-hover">
        <thead>
        <tr>
          <td scope="col">
            <div style="display: inline list-item; padding-left: 10px;">
              <input class="form-check-input selectedBtn" (change)="onCheckboxChange($event, 'all')"
                     type="checkbox"> {{selectedAll}}
            </div>
          </td>
          <td scope="col">Id document</td>
          <td scope="col">Date de l'archivage</td>
          <td scope="col">Type de l'evenement</td>
          <td scope="col">Code nature de classification</td>
        </tr>
        </thead>
        <tbody *ngIf="documents">
        <tr *ngFor="let d of documents | slice: (page-1) * size : (page-1) * size + size;">
          <td scope="col">
            <form>
              <div class="form-group">
                <div class="form-check form-check-inline">
                  <input class="form-check-input selectedAll" (change)="onCheckboxChange($event, d.document_id)"
                         type="checkbox">
                </div>
              </div>
            </form>

          </td>
          <td scope="row">{{d.document_id}}</td>
          <td> {{d.archiving_reference_date}} </td>
          <td>{{d.event_type}}</td>
          <td>{{d.classification_nature_code}}</td>
        </tr>
        </tbody>
      </table>


      <div class="d-flex justify-content-between p-2" *ngIf="documents">
        <ngb-pagination [collectionSize]="documents.length" [(page)]="page" [maxSize]="size" [pageSize]="size" [rotate]="true" [ellipses]="false" [boundaryLinks]="true" >
        </ngb-pagination>
      </div>
    </div>
  </div>
</div>

