<div class="container" style="padding: 10px;">

  <form class="spacer"  #f="ngForm" (ngSubmit)="onSubmit(f.value)">
      <div class="row form">
        <div class="col-md-6">
          <div class="form-group row">
                  <div class="col-sm-4">
            <label  class="col-form-label float-right">Nature de client </label>
            </div>
            <div class="col-sm-6">
              <select name="client_nature_id"  class="form-control"  ngModel>
                <option value="">select...</option>
                <option value="1">Personne physique</option>
                <option value="2">personne morale</option>
              </select>
            </div>

          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group row">
          <div class="col-sm-4">
            <label  class="col-form-label float-right">Nom</label>
          </div>
            <div class="col-sm-6">
            <input type="text" class="form-control" name="client_name" ngModel>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group row">
          <div class="col-sm-4">
            <label class="col-form-label float-right">First name </label>
          </div>
            <div class="col-sm-6">
            <input type="text" class="form-control" name="client_first_name" ngModel>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group row">
          <div class="col-sm-4">
            <label class="col-form-label float-right">Id civility</label>
          </div>
            <div class="col-sm-6">
              <select class="form-control" name="civility_id" ngModel>
                <option value="">select...</option>
                <option value="1">Monsieur</option>
                <option value="2">Madame</option>
                <option value="3">Demoiselle</option>


              </select>
            </div>
          </div>
        </div>
        <div class="col-md-6">
              <div class="form-group row">
              <div class="col-sm-4">
                <label class="col-form-label float-right">Date de naissance</label>
              </div>
                <div class="col-sm-6">
                <input type="date" class="form-control" name="birth_date" ngModel>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group row">
              <div class="col-sm-4">
                <label for="typeahead-format" class="col-form-label float-right">Dept de naissance</label>
              </div>
                <div class="col-sm-6">
                <input type="text" class="form-control" name="birth_dept" id="typeahead-format" [(ngModel)]="modelDep" [ngbTypeahead]="searchDep" ngModel />
                </div>
              </div>
            </div>
        <div class="col-md-6">
          <div class="form-group row">
            <div class="col-sm-4">
              <label class="col-form-label float-right">Numéro Siren </label>
            </div>
            <div class="col-sm-6">
              <input type="text" class="form-control" name="siren_number" ngModel>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group row">
            <div class="col-sm-4">
              <label class="col-form-label float-right">Numéro Siret</label>
            </div>
            <div class="col-sm-6">
              <input type="text" class="form-control" name="siret_number" ngModel>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group row">
            <div class="col-sm-4">
              <label  class="col-form-label float-right" for="typeahead-template">Nature de classification</label>
            </div>
            <div class="col-sm-6">
              <ng-template #rt let-r="result">
                <ngb-highlight [result]="r.classification_nature_label"></ngb-highlight>
              </ng-template>
              <input class="form-control" name="classification_nature"  [inputFormatter]="formatter" id="typeahead-template" type="text" class="form-control" [(ngModel)]="model" [ngbTypeahead]="search" [resultTemplate]="rt"
              />
            </div>

          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group row">
            <div class="col-sm-4">
              <label  class="col-form-label float-right">Date de fin processus métier</label>
            </div>
            <div class="col-sm-6">
              <input type="datetime-local" class="form-control" name="final_business_processing_date" ngModel>

            </div>
          </div>
        </div>


        <div class="col-md-12">
                <div class="uploadfilecontainer" (click)="fileInput.click()" appDragDrop (onFileDropped)="uploadFile($event)">
                    <input hidden type="file" #fileInput (change)="uploadFile($event.target.files)">
                  </div>
                    <div  class="files-list" *ngFor="let file of files;let i=index">
                      <p>{{ file.name }}</p>
                      <button class="delete-file" (click)="deleteAttachment(i)">
                        <img src="../../../assets/Recycle_Bin_Full.png">
                      </button>
                    </div>
                 </div>
        <div class="col-md-12 text-center">
          <button type="submit" class="btn btn-l col-md-6" style="background: #dee6f9;"> Enoyer</button>
        </div>

      </div>
  </form>

</div>
