  <div class="row spacer ">
    <div class="col-1"></div>
  <div class="col-md-10" style="max-height: 82vh">
    <div class="" >
        <form *ngIf="classements">
            <div class="form-group form-inline" >
                Chercher NDD: <input class="form-control ml-2" type="text" placeholder="Libellé ou Code" name="keyword" (keyup)="chercher(keyword)" [(ngModel)]="keyword"/>
            </div>

          </form>
  <table class="table table-bordered table-hover">
  <thead>
  <tr>
    <td scope="col">Id Nature de Classification</td>
    <td scope="col">Libellé Nature de Classification</td>
    <td scope="col">Code nature de classification</td>
    <td scope="col">Duration</td>
    <td colspan="2" scope="col"></td>

  </tr>
  </thead>
  <tbody *ngIf="classements">
  <tr *ngFor="let c of classements | slice: (page-1) * size : (page-1) * size + size;">
    <td scope="row">{{c.classification_nature_id}}</td>
    <td>{{c.classification_nature_label}}</td>
    <td>{{c.classification_nature_code}}</td>
    <td>{{c.duration}}</td>
    <td style="cursor: pointer" (click)="onDelete(c.classification_nature_id)"><i class="text-danger fa fa-trash"></i></td>
    <td style="cursor: pointer" (click)="openFormModal(c)"><i class="text-primary fa fa-edit"></i></td>
  </tr>
  </tbody>
    <tbody *ngIf="classements.length == 0 || !classements">
    <tr> <td colspan="6" class="alert alert-danger text-center" style="border-radius: 0"><div>Il n'a aucun elements!</div></td></tr>
    </tbody>
</table>

      <div class="d-flex justify-content-between p-2" *ngIf="classements">
        <ngb-pagination [collectionSize]="classements.length" [(page)]="page" [maxSize]="size" [pageSize]="size" [rotate]="true" [ellipses]="false" [boundaryLinks]="true" (pageChange)="getAllClassifcationNature()">

        </ngb-pagination>
          <select class="custom-select" style="width: auto; color: #212b35" [(ngModel)]="size" (ngModelChange)="getAllClassifcationNature()">
          <option [ngValue]="8">8 items par page</option>
          <option [ngValue]="10">10 items par page</option>
          <option [ngValue]="12">12 items par page</option>
        </select>
      </div>


    </div>
  </div>
  </div>


