/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap');

.spacer {
  margin-top: 20px;
}

div.bg-light {
  background: white !important;
}

.color1 {
  background: #DEE6F9;
}

a {
  color: #212b35;
}

body {
  overflow: hidden;
  background: #F2F5FA;
}

.aut.col-lg-10 {
}

.panel.col-12.bg-light {
  background: #F2F5FA !important;
}
