<div *ngIf="!create" class="container-fluid" style="padding: 10px; margin-left: 30px">



    <div class="row form justify-content-between">
      <div class="col-md-8">

       <form class="form-inline my-2 my-lg-0"  (ngSubmit)="onSubmit(client_name, client_number)">
         <div class="row">
        <div class="form-group col-md-4">
            <label  class="col-form-label">Nom client</label>
            <input type="text" class="form-control" name="client_name" [(ngModel)]="client_name">
        </div>

        <div class="col-md-1 d-flex align-self-center">
            <P class="">OU/ET</P>
        </div>

        <div class="form-group col-md-4">
            <label  class="col-form-label">Numéro client</label>
            <input type="text" class="form-control" name="client_number" [(ngModel)]="client_number">
        </div>
           <div class="form-group col-md-1 d-flex align-self-end">
             <button class="btn btn-light my-2 my-sm-0" style="background: #dee6f9" type="submit">Search</button>
           </div>
      </div>
      </form>

    </div>

    <div class="col-md-4">
      <div class="col-md-12 text-center spacer">
        <a type="submit" class="col-md-6" routerLink="/new-client">
          <p>Ajouter client <i class="fa fa-user-plus"></i></p>
        </a>
      </div>
    </div>
    </div>

<div class="row spacer" style="margin-top: 70px">


  <div class=" col-md-9">


<!-- table 2 -->

    <table class="table table-hover" *ngIf="chercher">
      <thead *ngIf="clients.length > 0 || clients">
      <tr>
        <th class="table-th" scope="col"></th>
        <th class="table-th"  scope="col">Nom</th>
        <th class="table-th" scope="col">Prénom</th>
        <th class="table-th" scope="col">Date naissance</th>
        <th class="table-th" scope="col">Numéro</th>
        <th class="table-th" scope="col"></th>
      </tr>
      </thead>
      <tbody *ngIf="clients">
      <tr *ngFor="let c of clients | slice: (page-1) * size : (page-1) * size + size;" id="to-hover">
        <td ></td>
        <td >{{c.client_name}}</td>
        <td >{{c.client_first_name}}</td>
        <td >{{c.birth_date | date : 'dd/MM/yyyy'  : 'locale' }}</td>
        <td >{{c.client_number}}</td>
        <td scope="col"  (click)="onAddAccountOrContract(c)">
        <p id="to-show" class="toshow" style="font-size: small" class="text-primary"><i class="fa fa-plus"></i> Ajouter </p>
        </td>
        <td scope="col"  (click)="onUpdateStatus(c)">
          <p id="to-show1" class="toshow" style="font-size: small" class="text-primary"><i class="fa fa-plus"></i> Mis à jour </p>
        </td>

      </tr>
      </tbody>
      <tbody *ngIf="clients.length == 0 || !clients">
      <tr> <td colspan="7" class="alert alert-danger text-center" style="border-radius: 0"><div>Il n'a aucun elements!</div></td></tr>
      </tbody>
    </table>

    <div class="d-flex justify-content-between p-2" *ngIf="clients && chercher && clients.length > 0">
      <ngb-pagination [collectionSize]="clients.length" [(page)]="page" [maxSize]="size" [pageSize]="size" [rotate]="true" [ellipses]="false" [boundaryLinks]="true" (pageChange)="onSubmit(client_name, client_number)">
      </ngb-pagination>

    </div>

  </div>
</div>

</div>

<div class="container">
  <div *ngIf="create" class="container spacer">
    <div >
      <h2 class="text-center text-lg-center text-primary" style="font-weight: normal">Créer un nouveau contrat/compte</h2>
      <div  *ngIf="client">
        <div >
          <p><span class="h6">Nom: </span> {{client.client_name}}</p>
          <p><span class="h6">Prénom: </span> {{client.client_first_name}}</p>
          <p><span class="h6">Departement naissance: </span> {{client.birth_dept}}</p>
          <p><span class="h6">Date naissance: </span> {{client.birth_date | date : 'dd/MM/yyyy'  : 'locale'  }}</p>
        </div>
      </div>
      <div class=" spacer">

        <div class="col-md-12 text-center mr-auto">
          <button type="submit" class="btn btn-l col-sm-5" (click)="NewContract()" style="background: #dee6f9;"> Nouveau contrat</button>

          <button  type="submit" class="btn btn-l col-sm-5" (click)="NewAccount()" style="background: #dee6f9;margin-left:10px"> Nouveau compte</button>
        </div>
      </div>
    </div>
  </div>
</div>
