<div class="container" style="padding: 10px">

  <form class="spacer"  #f="ngForm" (ngSubmit)="onSubmit(f)">

    <div class="row form justify-content-between">
      <div class="col-md-6">
      <div class="col-md-12">
        <div class="form-group">
            <label  class="col-form-label">Nom client</label>
            <input type="text" class="form-control" name="name" ngModel>
        </div>
      </div>

      <div class="col-md-12">
        <div class="form-group">
            <label  class="col-form-label">Numéro client</label>
            <input type="text" class="form-control" name="description" ngModel>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="col-md-12 text-center spacer">
        <a type="submit" class="col-md-6" >
          <p>Ajouter client <i class="fa fa-user-plus"></i></p>
        </a>
      </div>
    </div>
    </div>
  </form>


