<div *ngIf="!create" class="container-fluid" style="padding: 10px; margin-left: 30px">



    <div class="row form justify-content-between">
      <div class="col-md-8">

       <form class="form-inline my-2 my-lg-0"  (ngSubmit)="onSubmit(client_name, client_number)">
         <div class="row">
        <div class="form-group col-md-4">
            <label  class="col-form-label">Nom client</label>
            <input type="text" class="form-control" name="client_name" [(ngModel)]="client_name">
        </div>

        <div class="col-md-1 d-flex align-self-center">
            <P class="">OU/ET</P>
        </div>

        <div class="form-group col-md-4">
            <label  class="col-form-label">Numéro client</label>
            <input type="text" class="form-control" name="client_number" [(ngModel)]="client_number">
        </div>
           <div class="form-group col-md-1 d-flex align-self-end">
             <button class="btn btn-light my-2 my-sm-0" style="background: #dee6f9" type="submit">Search</button>
           </div>
      </div>
      </form>

    </div>

    <div class="col-md-4">
      <div class="col-md-12 text-center spacer">
        <a type="submit" class="col-md-6" routerLink="/new-client">
          <p>Ajouter client <i class="fa fa-user-plus"></i></p>
        </a>
      </div>
    </div>
    </div>

<div class="row spacer" style="margin-top: 70px">


  <div class=" col-md-9">


<!-- table 2 -->

    <table class="table table-hover" *ngIf="chercher">
      <thead *ngIf="clients.length > 0 || clients">
      <tr>
        <th class="table-th" scope="col"></th>
        <th class="table-th"  scope="col">Nom</th>
        <th class="table-th" scope="col">Prénom</th>
        <th class="table-th" scope="col">Date naissance</th>
        <th class="table-th" scope="col">Numéro</th>
        <th class="table-th"></th>

      </tr>
      </thead>
      <tbody *ngIf="clients">
      <tr *ngFor="let c of clients | slice: (page-1) * size : (page-1) * size + size;" id="to-hover">
        <td ></td>
        <td >{{c.client_name}}</td>
        <td >{{c.client_first_name}}</td>
        <td >{{c.birth_date | date : 'dd/MM/yyyy'  : 'locale' }}</td>
        <td >{{c.client_number}}</td>
        <td  id="to-show" class="toshow" (click)="onAddAccountOrContract(c)">
        <svg width="1.4em" height="1.4em" viewBox="0 0 16 16"  class="bi bi-folder-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M9.828 4H2.19a1 1 0 0 0-.996 1.09l.637 7a1 1 0 0 0 .995.91H9v1H2.826a2 2 0 0 1-1.991-1.819l-.637-7a1.99 1.99 0 0 1 .342-1.31L.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3h3.982a2 2 0 0 1 1.992 2.181L15.546 8H14.54l.265-2.91A1 1 0 0 0 13.81 4H9.828zm-2.95-1.707L7.587 3H2.19c-.24 0-.47.042-.684.12L1.5 2.98a1 1 0 0 1 1-.98h3.672a1 1 0 0 1 .707.293z"/>
          <path fill-rule="evenodd" d="M13.5 10a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1H13v-1.5a.5.5 0 0 1 .5-.5z"/>
          <path fill-rule="evenodd" d="M13 12.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0v-2z"/>
        </svg>
        </td>

      </tr>
      </tbody>
      <tbody *ngIf="clients.length == 0 || !clients">
      <tr> <td colspan="6" class="alert alert-danger text-center" style="border-radius: 0"><div>Il n'a aucun elements!</div></td></tr>
      </tbody>
    </table>

    <div class="d-flex justify-content-between p-2" *ngIf="clients && chercher && clients.length > 0">
      <ngb-pagination [collectionSize]="clients.length" [(page)]="page" [maxSize]="size" [pageSize]="size" [rotate]="true" [ellipses]="false" [boundaryLinks]="true" (pageChange)="onSubmit(client_name, client_number)">
      </ngb-pagination>

    </div>

  </div>
</div>

</div>

<div class="container">
  <div *ngIf="create" class="container spacer">
    <div >
      <h2 class="text-center text-lg-center text-primary" style="font-weight: normal">Créer un nouveau contrat/compte</h2>
      <div  *ngIf="client">
        <div >
          <p><span class="h6">Nom: </span> {{client.client_name}}</p>
          <p><span class="h6">Prénom: </span> {{client.client_first_name}}</p>
          <p><span class="h6">Departement naissance: </span> {{client.birth_dept}}</p>
          <p><span class="h6">Date naissance: </span> {{client.birth_date | date : 'dd/MM/yyyy'  : 'locale'  }}</p>
        </div>
      </div>
      <div class=" spacer">

        <div class="col-md-12 text-center mr-auto">
          <button type="submit" class="btn btn-l col-sm-5" [routerLink]="'/new-contract'" style="background: #dee6f9;"> Nouveau contrat</button>

          <button  type="submit" class="btn btn-l col-sm-5" [routerLink]="'/new-account'" style="background: #dee6f9;margin-left:10px"> Nouveau compte</button>
        </div>
      </div>
    </div>
  </div>
</div>
