<app-header (click)="toggleNavbar()"></app-header>

<div class="row" style="background: #F2F5FA; margin: 0">

  <div class="col-lg-2 spacer bg-light " >

    <!-- Sidebar -->
    <nav id="sidebar">
      <div class="sidebar-header">
        <h3  [routerLink]="'home'" style="font-family: 'Bungee Inline', cursive; font-size: 1.3rem; margin-top: 6px" class="text-center text-primary">DigiArchive</h3>
      </div>

      <div class="dropdown">
        <button [routerLink]="'home'" [routerLinkActive]="'active'" class="btn btn-side btn-light color1"  type="button">
          <a >Accueil</a>
        </button>
      </div>

      <div class="dropdown">
        <button (click)="toggleNavbarClients()" [routerLink]="'clients'" id="tog" [routerLinkActive]="'active'" class="dropdown-toggle btn btn-light color1 btn-side" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <a >Clients</a>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" [ngClass]="{ 'show': sidbarOpenClients }">
          <button class="dropdown-item btn btn  btn-light color1" type="button"><a [routerLink]="'new-client'" [routerLinkActive]="'active'">Nouveau client</a></button>
          <button class="dropdown-item btn btn  btn-light color1" type="button"><a [routerLink]="'clients'" [routerLinkActive]="'active'">Gérer client</a></button>
        </div>
      </div>

      <div class="dropdown">
        <button (click)="toggleNavbarContracts()" [routerLink]="'contracts'" [routerLinkActive]="'active'" class="dropdown-toggle btn btn-light color1 btn-side" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <a >Contrats</a>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2" [ngClass]="{ 'show': sidbarOpenContracts }">
          <button class="dropdown-item btn  btn-light color1" type="button"><a [routerLink]="'new-contrat'" [routerLinkActive]="'active'">Nouveau contrat</a></button>
          <button class="dropdown-item btn  btn-light color1" type="button"><a [routerLink]="'contracts'" [routerLinkActive]="'active'">Gérer contrat</a></button>
        </div>
      </div>

      <div class="dropdown">
        <button (click)="toggleNavbarAccounts()" [routerLink]="'accounts'" [routerLinkActive]="'active'" class="dropdown-toggle btn-side btn btn-light color1" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <a >Comptes</a>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu3" [ngClass]="{ 'show': sidbarOpenAccounts }">
          <button class="dropdown-item btn  btn-light color1" type="button"><a [routerLink]="'new-account'" [routerLinkActive]="'active'">Nouveau compte</a></button>
          <button class="dropdown-item btn btn-light color1" type="button"><a [routerLink]="'accounts'" [routerLinkActive]="'active'">Gérer compte</a></button>
        </div>
      </div>

    </nav>

  </div>

  <div class="col-lg-10  spacer">

    <nav aria-label="breadcrumb" class="bg-light">
      <ol class="breadcrumb">
        <li *ngIf="title=='Accueil';" class="breadcrumb-item"><a routerLink="home">Accueil</a></li>
        <li *ngIf="title!='Accueil';" class="breadcrumb-item"><a routerLink="home">Accueil</a></li>
        <li *ngIf="title!='Accueil';" class="breadcrumb-item active" aria-current="page" >{{title | titlecase}}</li>
      </ol>
    </nav>

    <div class="panel col-12 bg-light" style="min-height: 80vh; ">
      <router-outlet (click)="toggleNavbar()"></router-outlet>
    </div>

  </div>
</div>
